.App {
  text-align: center;
}

.StandardButton{
  min-height: 36px;
  min-width: max-content;
  width: 65px;
  border-radius: 10% 10% 10% 10%;
  background-color: #113450;
  border: 1px solid #113450;
  color: #FFFFFF;
  margin: 0 auto;
}

.StandardButton:hover{
  background-color: #FFFFFF;
  color: #113450;
  cursor: pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.formDiv {
  margin: 60px auto 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 24px;
  max-width: 400px;
}

.formInput {
  border: 1px black solid;
  font-size: 24px;
  height: 30px;
  width:300px;
  margin: 1vh auto 1vh auto;
}

.errorMessage{
  color: red;
  font-size: 12px;
  width: 100%;
}

.NewTaskModal{
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* max-width: 40vw; */
  min-width: 290px;
  height: 50vh;
  border: 1px solid black;
  box-shadow: 2px 2px grey;
  margin: 0 auto;
}

.CloseButton{
  position: absolute;
  top:-5px;
  right: 15px;
  font-size: 40px;
}

.CloseButton:hover{
  cursor: pointer;
}

input {
  min-height: 20px;
  min-width: 20px;
  margin: 10px;
}

.taskNameInput{
  width: 85%;
  height: 40px;
}

.LongTermSwitchBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LongTermSwitchBox > span{
  margin: 1vh 0 1vh 0;
}

.GoalBox {
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.ListBox{
  border: black 1px solid;
  width: 100%;
  margin: 0 auto;
}

.TaskTab {
  width: 48%;
  height: 34px;
  padding-top: 6px;
  border: black 1px solid;
  margin: 10px 2px 0 2px;
  border-bottom: none;
}

.TaskTab:hover{
  cursor: pointer;
}

.activeTab > div {
  position: relative;
  background-color: white;
  z-index: 0;
  height: 2vh;
  width: 100%;
}

.inactiveTab{
  background-color: #b6b0b0;
}

.TaskCard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  border: black solid 1px;
  box-shadow: 2px 2px #b6b0b0;
  padding-left: 5px;
}

.CardTop > p {
  width: 85%;
}
ol{
  margin: 4px 4px 4px 4px;
  padding-left: 0;
}

.CardTop{
  display: flex;
  width: 100%;
  flex-flow: row;
}

.ArrowBox{
  justify-content: center;
  margin: 10px 0 0 0;
  padding-right: 10px;
  height: 30px;
  width: 40px;
}

.Arrow{
  margin-left: 50%;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  border: solid grey;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.Down{
  border-left: none !important;
  border-top:  none !important;
}

.Up{
  border-bottom: none !important;
  border-right: none !important;
}

.CardBottom {
  width: 100%;
}

.AdminUserListEntry {
  display: flex;
  margin: 4px auto;
  max-width: 400px;
  text-align: left;
  border: 1px black solid;
  padding: 12px;
  box-shadow: 2px 2px #b6b0b0;
}


.AdminUserListEntry:hover {
  cursor: pointer;
}

.adminListButtonBox {
  width: 45%;
  margin-left: auto;
}

.adminListButtonBox > button{
  margin: 0 5%;
}

.ModalOverlay{
  background-color: rgba(0, 0, 0, 0.48);
  z-index: 19;
  position: fixed;
  width: 100%;
  height: 200%;
  top: -3vh;
}

.AdminEditModal{
  margin: 20% auto;
  background-color: white;
  border: 1px white solid;
  z-index: 20;
  height: 200px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.AdminModalButton{
  border: none;
  height: 36px;
  min-width: max-content;
  width: 65px;
  border-radius: 10% 10% 10% 10%;
}

.AdminEditModalTop{
  display: flex;
  margin: 0 auto;
  width:100%;
  /* max-height: 20px; */
}

.AdminEditModalTop > h3 {
  /* max-height: 40px; */
  margin: 10px auto 0 auto;
}

.AdminEditModalTop > span{
  font-size: 40px;
  margin: -7px 8px 0 0;
  /* max-height: 40px; */
}

.AdminButtonDiv{
  height: 20px;
  width: 100%;
}

.AdminButtonDiv > div {
  justify-content: space-around;
  display: flex;
}

.AdminButtonDiv > div > button {
  /* background-color: green; */
  color: white;
}

.DeleteUserButton{
  background-color: red;
  color: white;
  margin: 10px auto 0 auto;
}

.AreYouSureModal {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border: black 1px solid;
  width: 300px;
  height: 200px;
  flex-wrap:wrap;
  margin: 20% auto 0 auto;
}

.AreYouSureModal > span {
  margin: auto 0 15px 0;
}

.AreYouSureModal > button {
  background-color: red;
  color: white;
}

.DeleteOverlay{
  background-color: #FFFFFF;
  left: 0;
  opacity: 1;
  z-index: 23;
  position: fixed;
  width: 100%;
  height: 200%;
  top: -3vh;
}

.Dropdown {
  position: absolute;
  top: 52px;
  background-color: inherit;
  padding: 10px;
  color: white;
  display: grid;
}
