.App {
  text-align: center;
}

button{
  min-height: 36px;
  min-width: max-content;
  width: 80px;
  border-radius: 10% 10% 10% 10%;
  background-color: #113450;
  border: 1px solid #113450;
  color: #FFFFFF;
  margin: 0 auto;
}

button:hover{
  background-color: #FFFFFF;
  color: #113450;
  cursor: pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.formDiv {
  margin: 60px auto 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 24px;
  max-width: 400px;
}

.formInput {
  border: 1px black solid;
  font-size: 24px;
  height: 30px;
  width:300px;
  margin: 1vh auto 1vh auto;
}

.errorMessage{
  color: red;
  font-size: 12px;
  width: 100%;
}

.NewTaskModal{
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* max-width: 40vw; */
  min-width: 290px;
  height: 50vh;
  border: 1px solid black;
  box-shadow: 2px 2px grey;
  margin: 0 auto;
}

.taskNameInput{
  width: 85%;
  height: 40px;
}

.LongTermSwitchBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LongTermSwitchBox > span{
  margin: 1vh 0 1vh 0;
}

.GoalBox {
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.ListBox{
  border: black 1px solid;
  width: 100%;
  margin: 0 auto;
}

.TaskTab {
  width: 48%;
  height: 34px;
  padding-top: 6px;
  border: black 1px solid;
  margin: 10px 2px 0 2px;
  border-bottom: none;
}

.TaskTab:hover{
  cursor: pointer;
}

.activeTab > div {
  position: relative;
  background-color: white;
  z-index: 0;
  height: 2vh;
  width: 100%;
}

.inactiveTab{
  background-color: #b6b0b0;
}

.TaskCard{
  text-align: left;
  border: black solid 1px;
  box-shadow: 2px 2px #b6b0b0;
  padding-left: 5px;
}

ol{
  margin: 4px 4px 4px 4px;
  padding-left: 0;
}
